[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/EspressoSystems/geth-arbitrum.git
	branch = integration
[submodule "fastcache"]
	path = fastcache
	url = https://github.com/OffchainLabs/fastcache.git
[submodule "arbitrator/wasm-libraries/soft-float/SoftFloat"]
	path = arbitrator/wasm-libraries/soft-float/SoftFloat
	url = https://github.com/OffchainLabs/SoftFloat.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/EspressoSystems/nitro-contracts.git
	branch = develop
[submodule "arbitrator/wasm-testsuite/testsuite"]
	path = arbitrator/wasm-testsuite/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "nitro-testnode"]
	path = nitro-testnode
	url = https://github.com/EspressoSystems/nitro-testnode
	branch = integration
