/record
/cmd/record/record
/replay
/cmd/replay/replay
/*.bin
/*.test
/system_tests/*_fuzz/*
!/system_tests/*_fuzz/*_fuzz.go
node_modules
.DS_Store
.idea
.vscode
cmd/node/data
cmd/node/node
solgen/go/
.make/
/cmd/statetransfer/statetransfer
/reproducible-wasm/*.wasm
target/
yarn-error.log
local/
system_tests/test-data/*
system_tests/testdata/*
arbos/testdata/*