[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/OffchainLabs/go-ethereum.git
[submodule "fastcache"]
	path = fastcache
	url = https://github.com/OffchainLabs/fastcache.git
[submodule "arbitrator/wasm-libraries/soft-float/SoftFloat"]
	path = arbitrator/wasm-libraries/soft-float/SoftFloat
	url = https://github.com/OffchainLabs/SoftFloat.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/OffchainLabs/nitro-contracts.git
	branch = develop
[submodule "blockscout"]
	path = blockscout
        url = https://github.com/OffchainLabs/blockscout.git
[submodule "arbitrator/wasm-testsuite/testsuite"]
	path = arbitrator/wasm-testsuite/testsuite
	url = https://github.com/WebAssembly/testsuite.git
[submodule "challenge-protocol-v2"]
	path = challenge-protocol-v2
	url = https://github.com/OffchainLabs/challenge-protocol-v2.git
