/record
/cmd/record/record
/replay
/cmd/replay/replay
/*.bin
/*.test
.idea
.vscode
cmd/node/data
cmd/node/node
solgen/coverage
solgen/coverage.json
solgen/typechain-types
solgen/artifacts
solgen/cache/
solgen/go/
solgen/node_modules/
solgen/deployments/
solgen/test/proofs/*.json
.make/
/cmd/statetransfer/statetransfer
/reproducible-wasm/*.wasm
target/
yarn-error.log
