[package]
name = "host-io"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
path = "lib.rs"
crate-type = ["cdylib"]

[dependencies]
arbutil = { workspace = true }
caller-env = { workspace = true, features = ["static_caller"] }
