[package]
name = "user-host-trait"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
publish.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
path = "lib.rs"

[dependencies]
arbutil = { workspace = true }
caller-env = { workspace = true }
eyre = { workspace = true }
prover = { workspace = true }
ruint2 = { workspace = true }
