[package]
name = "prover"
version = "0.1.0"
edition = "2018"
publish = false

[dependencies]
bincode = "1.3.3"
brotli2 = "0.3.2"
digest = "0.9.0"
eyre = "0.6.5"
fnv = "1.0.7"
hex = "0.4.3"
libc = "0.2.108"
nom = "7.0.0"
nom-leb128 = "0.2.0"
num = "0.4"
rayon = "1.5.1"
rustc-demangle = "0.1.21"
serde = { version = "1.0.130", features = ["derive", "rc"] }
serde_json = "1.0.67"
sha3 = "0.9.1"
static_assertions = "1.1.0"
structopt = "0.3.23"
wasmparser = "0.84.0"
serde_with = "1.12.1"
smallvec = { version = "1.10.0", features = ["serde"] }
arbutil = { path = "../arbutil/" }

[lib]
name = "prover"
crate-type = ["staticlib","lib"]
