---
name: standard-go-test-suite
on:
  workflow_call:

jobs:
  # First build 
  build-base:
    uses: ./.github/workflows/_go-tests.yml
    secrets: inherit
    with:
      run-name: "Build-Base"
      only-build: true

  # Second run the tests
  main:
    needs: build-base
    strategy:
      fail-fast: false
      matrix:
        test-mode: 
          - defaults-A
          - defaults-B
          - defaults-C
          - defaults-D
          - flaky
          - pathdb
          - challenge
          - stylus
          - l3challenge
    uses: ./.github/workflows/_go-tests.yml
    secrets: inherit
    with:
      run-name: ${{ matrix.test-mode }}
      skip-build: true
      run-defaults-a: ${{ matrix.test-mode == 'defaults-A' }}
      run-defaults-b: ${{ matrix.test-mode == 'defaults-B' }}
      run-defaults-c: ${{ matrix.test-mode == 'defaults-C' }}
      run-defaults-d: ${{ matrix.test-mode == 'defaults-D' }}
      run-flaky: ${{ matrix.test-mode == 'flaky' }}
      run-pathdb: ${{ matrix.test-mode == 'pathdb' }}
      run-challenge: ${{ matrix.test-mode == 'challenge' }}
      run-stylus: ${{ matrix.test-mode == 'stylus' }}
      run-l3challenge: ${{ matrix.test-mode == 'l3challenge' }}
