name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

env:
  RUST_BACKTRACE: 1
  RUSTFLAGS: -Dwarnings
  WABT_VERSION: 1.0.24

jobs:

  coverage:
    name: Run Arbitrator tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Ubuntu dependencies
        run: |
          sudo add-apt-repository -y ppa:ethereum/ethereum
          sudo add-apt-repository -y ppa:longsleep/golang-backports
          sudo apt-get update && sudo apt-get install -y \
            build-essential cmake nodejs ethereum lld-10 golang-go libudev-dev
          sudo ln -s /usr/bin/wasm-ld-10 /usr/local/bin/wasm-ld

      - name: Install rust nightly
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: 'llvm-tools-preview'

      - name: Install grcov
        uses: actions-rs/install@v0.1
        with:
          crate: grcov
          version: latest
          use-tool-cache: true

      - name: Install rust wasm targets
        run: rustup target add wasm32-wasi wasm32-unknown-unknown

      - name: Cache Rust intermediate build products
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            arbitrator/target/
            arbitrator/wasm-libraries/target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('arbitrator/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Cache wabt build
        id: cache-wabt
        uses: actions/cache@v2
        with:
          path: ~/wabt-prefix
          key: ${{ runner.os }}-wabt-${{ env.WABT_VERSION }}

      - name: Install latest wabt
        if: steps.cache-wabt.outputs.cache-hit != 'true'
        run: |
          cd "$(mktemp -d)"
          git clone --recursive -b "$WABT_VERSION" https://github.com/WebAssembly/wabt .
          mkdir build
          cd build
          mkdir -p ~/wabt-prefix
          cmake .. -DCMAKE_INSTALL_PREFIX="$HOME/wabt-prefix"
          make -j
          make install

      - name: Add wabt to path
        run: echo "$HOME/wabt-prefix/bin" >> "$GITHUB_PATH"

      - name: Make arbitrator libraries
        run: make -j wasm-ci-build

      - name: Enable rust instrumentation
        run: |
          echo LLVM_PROFILE_FILE="your_name-%p-%m.profraw" >> $GITHUB_ENV
          echo "CARGO_INCREMENTAL=0" >> $GITHUB_ENV
          echo RUSTFLAGS="-Zinstrument-coverage" >> $GITHUB_ENV
          echo RUSTDOCFLAGS="-Cpanic=abort" >> $GITHUB_ENV
        
      - name: Run rust tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --manifest-path arbitrator/Cargo.toml

      - name: Make proofs from test cases
        run: make -j test-gen-proofs

      - name: Create code-coverage files
        run: |
          grcov . --binary-path arbitrator/target/release/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info

      - name: Upload to codecov.io
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./lcov.info
          fail_ci_if_error: true
          verbose: false
