---
name: ShellCheck CI
run-name: ShellCheck CI triggered from @${{ github.actor }} of ${{ github.head_ref }}

# NOTE: Automatic workflow runs disabled - fork version doesn't support these workflows
# To re-enable, uncomment the triggers below
# on:
#   workflow_dispatch:
#   merge_group:
#   pull_request:
#   push:
#     branches: [master, main]
on: []

jobs:
  shellcheck:
    name: Run ShellCheck
    runs-on: ubuntu-4

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          ignore_paths: >-
            ./fastcache/**
            ./contracts/**
            ./safe-smart-account/**
            ./go-ethereum/**
            ./nitro-testnode/**
            ./brotli/**
            ./arbitrator/**
