name: Run SP1 runner on `replay.wasm`

on:
  workflow_dispatch:
  pull_request:
    branches:
      - zk-prove-any/sp1-runner

jobs:
  zk-proving:
    name: Run SP1 runner on `replay.wasm`
    runs-on: arbitrator-ci
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install SP1 toolchain
        run: >-
          curl -L https://sp1up.succinct.xyz | bash
          sp1up -v v6.0.0-beta.1

      - name: Print versions
        run: >-
          rustc +succinct --version
          rustc +succinct --print target-list | grep succinct
